{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/prop-types": "off",
    "no-console": "off",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "_"
      }
    ],
    "no-shadow": [
      "error",
      {
        "allow": [
          "_"
        ]
      }
    ],
    "react/no-array-index-key": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off"
  }
}