absl-py==2.1.0
certifi==2024.7.4
grpcio==1.65.1
immutabledict==4.2.0
numpy==2.1.1
ortools==9.10.4067
pandas==2.2.2
protobuf==5.27.2
python-dateutil==2.9.0.post0
pytz==2024.1
sentry-sdk==2.8.0
six==1.16.0
tzdata==2024.1
urllib3==2.2.2