NODE_ENV="dev"
PORT=3001
POSTGRES_USER="postgres"
POSTGRES_DB="notangles-db"
POSTGRES_PASSWORD="postgres"
POSTGRES_PORT="5432"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
SESSION_SECRET="i-love-notangles"
OAUTH2_CLIENT_PROVIDER_OIDC_ISSUER="https://id.example.com.au"
OAUTH2_CLIENT_REGISTRATION_LOGIN_CLIENT_ID="a-b-c-d-e-f-1234567890"
OAUTH2_CLIENT_REGISTRATION_LOGIN_CLIENT_SECRET="aaazzz123"
OAUTH2_CLIENT_REGISTRATION_LOGIN_SCOPE="openid"
OAUTH2_CLIENT_REGISTRATION_LOGIN_REDIRECT_URI="http://localhost:3001/api/auth/callback/devsoc"
OAUTH2_CLIENT_REGISTRATION_LOGIN_POST_LOGOUT_REDIRECT_URI="http://localhost:3001/api/auth/callback/devsoc"
GITHUB_CLIENT_ID="aaaZZZ123"
GITHUB_CLIENT_SECRET="abcdef1234567890"
GITHUB_REDIRECT_URI="http://localhost:3001/api/auth/callback/github"
GOOGLE_CLIENT_ID="12345-aaazzz123.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="AAAZZZ-aaaZZZ123-aaaZZZ"
GOOGLE_REDIRECT_URI="http://localhost:3001/api/auth/callback/google"
CLIENT_HOST_NAME="localhost"
CLIENT_HOST_PORT="5173"
