version: "3.7"
services:
  server:
    container_name: notangles-server
    image: notangles-server
    restart: always
    build: .
    depends_on: 
      - database.notangles-db
    ports:
      - "3001:3001"
    links:
      - database.notangles-db
  database.notangles-db:
    container_name: notangles-database
    restart: always
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - ~/var/lib/notangles/data:/data/db
  client:
    container_name: notangles-client
    restart: always
    image: notangles-client
    build: ../client
    ports:
      - "3000:3000"
  