body{
    display: flex;
    justify-content:  center;
}
.timetable-canvas{
    display: flex;
    justify-content:  center;
}
.cell{
    width:100px;
    height:30px;
    border:1px solid #000;
    vertical-align: middle;
}
.timetable{
    position:relative;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 0;
}
.cells-row{
    display:flex;
    text-align: center;
    vertical-align: middle;
}
.cells-row > div{
    position: relative;
    flex: 1 1 100%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0px;
    border-left-width: 1px;
    border-top-width: 1px;
    min-width: 10px;
    max-width: 50%;
}

.cells-row > div:last-child {
    border-right-width: 1px;
  }
.cells-row:last-child > div {
    border-bottom-width: 1px;
}

.cells-row > div:first-child{
    min-width: 50px;
    flex: 0 0 60px;
}