name: CI
on:
  push: {}

jobs:
  build:
    name: "Build (${{ matrix.component }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        component: [client, server]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "17"
      - name: Install dependencies
        run: npm ci
        working-directory: ${{ matrix.component }}
      - name: Build
        run: npm run build
        working-directory: ${{ matrix.component }}
